.venv/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info/
dist/
build/
*.egg
*.bak
*.swp
*.swo
*.tmp
*.out
*.err
*.pid
*.seed
*.coverage
.coverage.*
.cache/
.next/
node_modules/